<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfdyf.recommend.dao.BaseDao.ScoreApproveMapper">
  <resultMap id="BaseResultMap" type="com.yfdyf.recommend.entity.BaseBean.ScoreApprove">
    <id column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="COUNT_DATE" jdbcType="VARCHAR" property="countDate" />
    <result column="COUNT_SCORE" jdbcType="VARCHAR" property="countScore" />
  </resultMap>
  <sql id="Base_Column_List">
    UUID, PERSON_CODE, COUNT_DATE, COUNT_SCORE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCORE_APPROVE
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SCORE_APPROVE
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yfdyf.recommend.entity.BaseBean.ScoreApprove">
    insert into SCORE_APPROVE (UUID, PERSON_CODE, COUNT_DATE, 
      COUNT_SCORE)
    values (#{uuid,jdbcType=VARCHAR}, #{personCode,jdbcType=VARCHAR}, #{countDate,jdbcType=VARCHAR}, 
      #{countScore,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yfdyf.recommend.entity.BaseBean.ScoreApprove">
    insert into SCORE_APPROVE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="personCode != null">
        PERSON_CODE,
      </if>
      <if test="countDate != null">
        COUNT_DATE,
      </if>
      <if test="countScore != null">
        COUNT_SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="personCode != null">
        #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="countDate != null">
        #{countDate,jdbcType=VARCHAR},
      </if>
      <if test="countScore != null">
        #{countScore,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yfdyf.recommend.entity.BaseBean.ScoreApprove">
    update SCORE_APPROVE
    <set>
      <if test="personCode != null">
        PERSON_CODE = #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="countDate != null">
        COUNT_DATE = #{countDate,jdbcType=VARCHAR},
      </if>
      <if test="countScore != null">
        COUNT_SCORE = #{countScore,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yfdyf.recommend.entity.BaseBean.ScoreApprove">
    update SCORE_APPROVE
    set PERSON_CODE = #{personCode,jdbcType=VARCHAR},
      COUNT_DATE = #{countDate,jdbcType=VARCHAR},
      COUNT_SCORE = #{countScore,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>